<div class="container">
 <h1 class="text-center">About</h1>
 <h3 class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</h2>
 <h3 class="text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</h2>
 <h3 class="text-center">様々なバリエーションをご用意しております。</h2>
 <h3 class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h2>
 <h3 class="text-center">ぜひご注文ください。</h2>
</div>