<div class="container">
 <h1>注文履歴一覧</h1>
  <table border="1">
   <thead>
    <tr>
     <th>購入日時</th>
     <th>購入者</th>
     <th>注文個数</th>
     <th>注文ステータス</th>
    </tr>
   </thead>
   <tbody>
     <% @orders.each do |order| %>
      <tr>
       <td><%= link_to order.created_at.strftime("%Y/%m/%d %-H:%M:%S"), admin_order_item_path(order) %></td>
       <td><%= order.public.last_name %> <%= order.public.first_name %></td>
       <td><%= order.order_details.sum(:amount) %></td>
       <td></td>
      </tr>
 　　<% end %>
   </tbody>
  </table>
</div>